@charset "utf-8";

/* @import url(./css/reset.css);*/


#main_header{
background:red;
border-bottom:1px solid #000;height: 60px; 
padding-left: 10px; line-height:60px;color:white;
background:url(.././images/oon.jpg);}

#main_gnb{border-bottom:1px solid #000;
      background-color:darksalmon;}

#main_gnb:after{content:"";display:block;clear:both;}

#main_gnb>ul.left{float:left;}

#main_gnb>ul.left:after{content:"";display:block;clear:both;}
#main_gnb>ul.left>li{float:left;}
#main_gnb a{display:block;padding: 10px 20px;color:white;font-weight:bold;}
#main_gnb a:hover{background-color:rosybrown;}
      

#main_gnb>ul.right{float:right;}	          
#main_gnb>ul.right:after{content:"";display:block;clear:both;}	          
#main_gnb>ul.right>li{float:right;}	          
#main_gnb a{display:block;padding:10px 20px; color:white;font-weight:bold}	          
#main_gnb a:hover{background-color:rosybrown;}  


#wrap{background:darkkhaki; border-bottom:1px solid #000}
#wrap:after{content:"";display:block;clear:both;}
#wrap>#main_lnb{float:left;width: 20%;}	
#wrap>#main_lnb>ul>li>a{display:block;height: 40px;line-height: 40px;padding-left:15px;border-top:1px solid color:gray;
border-bottom:1px solid #000;}

#wrap>#content_wrap{float:left;width: 80%;background-color:white; padding:20px; box-sizing:border-box; border-left: 1px solid #000;}

#main_footer{padding: 10px; text-align:center;border-top:1px solid #000;}



body{min-width:760px;}
